.pos-invoice-print {
    width: 512px;
    height: 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    text-align: left;
    direction: ltr;
    font-size: 27px;
    color: #000000;
}

.pos-invoice .pos-invoice-right-align {
    float: right;
}

.pos-invoice .pos-invoice-center-align {
    text-align: center;
}

.pos-invoice .pos-invoice-left-padding {
    padding-left: 2em;
}

.pos-invoice .pos-invoice-logo {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.pos-receipt .invoice-invoice-contact {
    text-align: center;
    font-size: 75%;
}

.pos-invoice .pos-invoice-order-data {
    text-align: center;
    font-size: 75%;
}

.pos-invoice .pos-invoice-amount {
    font-size: 125%;
    padding-left: 6em;
}

.pos-invoice .pos-invoice-title {
    font-weight: bold;
    font-size: 125%;
    text-align: center;
}

.pos-invoice .pos-invoice-header {
    font-size: 125%;
    text-align: center;
}

.pos-invoice .pos-order-invoice-cancel {
    color: red;
}

.pos-payment-terminal-invoice {
    text-align: center;
    font-size: 75%;
}
